@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Account Management";
}

<div id="card-container">
    <div id="card">
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

    });
</script>